$first-color: green;

h1 {
  color: $first-color;
}

h2 {
  background: $first-color;
}

body{
  font-family: "Papyrus,fantasy";
  background-image: url('restaurant.png')
}

.product-index-single{
  height:400px;
}

.well img{
  width: 100%;
}